@import url(./normalize.css);

body{
  background-color: rgb(167, 166, 166);

}

.container{
  width: 32rem;
  height: 20rem;
  padding: 5rem 0;
  margin: 0 auto;
  background-color: rgb(131, 131, 131);
}

.slider{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.img-mem1{
  width: 30rem;
  height: 20rem;

}

.slider__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__controls{
  display: flex;
  flex-direction: row;
}